#
# .gitignore
#

## BACKUP & TEMPORARY FILES ##

*~
*.bak
*.tmp
*.swp


## BUILD ARTIFACTS ##

Debug/
Release/
x64/
**/Debug/
**/Release/
**/x64/
build/
**/build/
build-*/
**/build-*/
DAPNETGateway
*.o
*.opendb
*.obj
*.sdf
*.log
*.zip
*.exe


## IDE FILES ##

*.user
*.VC.db
.vs/
**/.vs/
.vscode/
**/.vscode/
