#
# .gitignore
#

## BACKUP & TEMPORARY FILES ##

*~
*.bak
*.tmp
*.swp
*.orig


## BUILD ARTIFACTS ##

Debug/
Release/
x64/
**/Debug/
**/Release/
**/x64/
build/
**/build/
build-*/
**/build-*/
DAPNETGateway
*.o
*.opendb
*.bak
*.obj
*~
*.sdf
*.log
*.zip
*.exe
GitVersion.h


## IDE FILES ##

*.user
*.VC.db
.vs/
**/.vs/
.vscode/
**/.vscode/
.idea/
**/.idea/

